<div class="pt-3">
    <h4>Agregar / Actualizar</h4>
    <form action="/admin/novedades/modificar" method="post">
       <input type="hidden" value="{{novedad.id}}" name="id">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="depto" name="depto">{{novedad.depto}}</textarea>
            <label for="floatingTextarea">Zona</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="ambientes" name="ambientes">{{novedad.ambientes}}</textarea>
            <label for="floatingTextarea">Ambientes</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" value="{{novedad.cochera}}" name="cochera">
                
                <option value="Si" >Si</option>
                <option value="No">No</option>

            </select>
            <label for="floatingSelect">Tiene Cochera</label>
        </div>



        <div class="d-grid gap-2 col-6 mx-auto">

            <button type="submit" class="btn btn-outline-primary m-3 ">Modificar</button>
        </div>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}




</div>